@charset "UTF-8";
	body, h2, label{
	    font-family: 'Poppins', sans-serif;
	    background-color: rgb(54, 54, 54);
	    margin: 0;
	    padding: 0;
	    color: white;
	}
	.container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
        .form-container {
            width: 100%;
            max-width: 500px;
        }
        .footer-text {
            text-align: center;
            color: #6c757d;
            margin-top: auto;
            padding-top: 20px;
            padding-bottom: 5px;
        }
	.form-control {
	    background-color: rgb(240, 248, 255);
	    color: black;
	    border: 1px solid rgb(33, 37, 41);
	    border-radius: 5px;
	    padding: 10px;
	}


	.btn-outline-primary:hover,
	.btn-check:checked + .btn-outline-primary {
	    background-color: rgb(20, 36, 105);
	    color: white;
	    border: 1px solid rgb(20, 36, 105);
	}
	
	.btn-primary {
	    background-color: rgb(20, 36, 105);
	    color: yellow;
	    border: none;
	    border-radius: 5px;
	    cursor: pointer;
	}
	
	.btn-primary:hover {
	    background-color: rgb(10, 26, 85);
	    color: white;
	}