@charset "ISO-8859-1";
		
        .container {
            flex: 1; /* Allow container to expand to fill available space */
            display: flex; 
            justify-content: center;
            align-items: center;
            padding: 0 20px; /* Add padding to the left and right sides */
        }
        .box-area {
            background-color: rgb(56, 56, 56);
            padding: 20px !important;
            border-radius: 10px;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px; 
        }
         .wrapper {
         	min-height: 100vh !important;
            display: flex;
            flex-direction: column;
            
        }
		.footer {
	            width: 100%;
	            flex-shrink: 0;
	            position: fixed !important;
	            bottom:0 !important;
         }    
        .footer .navbar {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .footer .navbar a {
            color: white;
            padding: 5px;
            text-decoration: none;
        }
        .footer .navbar a:hover {
            text-decoration: none;
        }
		 .content {
		    flex: 1; /* Allow content to expand */
		    overflow-y: auto; /* Enable vertical scrolling */
		}
		   		