@charset "ISO-8859-1";
body{
    font-family: 'Poppins', sans-serif;
    background: rgb(54, 54, 54);
}
/*------------ Login container ------------*/
.box-area{
    width: 930px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border: 2px solid rgb(33, 37, 41); /* Set border to primary color *//* Set the background color for the box area */
}
.box-area, .row, .container {
    margin: 0;
    padding: 0;
    border: none;
}
/*------------ Right box ------------*/
.right-box{
    padding: 40px 30px 40px 40px;
}
/*------------ Custom Placeholder ------------*/
::placeholder{
    font-size: 16px;
}
.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}
/*------------ For small screens------------*/
@media only screen and (max-width: 768px){
     .box-area{
        margin: 0 10px;
     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }
}